<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>种下我们的爱情树 - So爱</title>
        <!-- CSS -->
<link type="text/css" rel="stylesheet" href="<{$Think.RES_HOME}>css/default.css">
<link rel="stylesheet" href="<{$Think.RES_HOME}>css/m_style.css">
       
        
        
<style type="text/css"><!--
.STYLE1 {color: #666666}
--></style>
<style type="text/css">
    body,h1,ul{margin:0;}
    #header{width:100%;border-top:solid 1px #D74452;border-bottom:solid 1px #D74452;text-align:center;}
    h1{padding:10px 0;color:#D74452;}
}
</style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>

<div id="header"><h1>♂ ❤❤ ♀</h1></div><!--header-->

        <div class="page-container">
            <h1>种下我们的爱情树</h1>
            <form action="__SELF__" method="post">
                <input type="text" name="myname" class="username" placeholder="我的名字(必填)">
                <input type="text" name="taname" class="username" placeholder="Ta的名字(必填)">
                <input type="text" name="ltime" class="username" placeholder="在一起的那一天 2013-01-04(必填)">
                <!--<input type="text" name="mobile" class="username" placeholder="联系电话">
                <input type="text" name="email" class="username" placeholder="Email">-->
                <textarea name="content" rows="11" class="username" placeholder="(留空则随机生成！)
想对Ta说的话，
每行一句，
效果会更好！
超过11行效果会影响的哦！
(留空则随机生成！)"></textarea>
                <button type="submit" >生成我们的爱情页面</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <h1>♂ Love ❤❤ Forever ♀</h1>
            </div>
        </div>
        <div id="copyright">
            Inspired by <a href="__ROOT__">Soi.so</a> project.<br />
            Copyright © 2013 <{$data.myname}> ❤ <{$data.taname}> 不离不弃，<a href="__ROOT__">So爱</a>见证
        </div>
        <!-- Javascript -->

    </body>

</html>
